@charset "utf-8";
/* CSS Document */
h1{
	font:32px Verdana, Geneva, sans-serif;
 	color:#C00;
	background:#666;
	}
@media (max-width: 1280px) {
	
		
@media (max-width: 1200px) {
h1{
	font:32px Verdana, Geneva, sans-serif;
 	color:#C00;
	background:#C3F;
	}
@media (max-width: 1024px) {
	
	
			
@media (max-width: 800px) {	
h1{
	font:32px Verdana, Geneva, sans-serif;
 	color:#C00;
	background:#C3F;
	}
@media (max-width: 768px) {
	
	
	
@media (max-width: 603px) {
	
	
	
	
@media (max-width: 533px) {	
	
	
	
	
		
@media (max-width: 360px) {
h1{
	font:32px Verdana, Geneva, sans-serif;
 	color:#C00;
	background:#C3F;
	}	

@media (max-width: 320px) { 



@media (max-width: 240px) { 



}
	}

		}
			}

				}
					}
						}
							}
								}
								
									}
